//Main container
main {
    display: flex;
    width: 100%;
    font-family: 'Libre Franklin', sans-serif;
    //Text styling
    & h1 {
        font-size: 1.8rem;
        font-weight: 800;
    }
    & h2 {
        font-size: 1.2rem;
        font-weight: 600;
    }
    & h3 {
        font-size: 1rem;
        font-weight: 400;
    }
}
//Edit tools container
.edit-tools {
    box-sizing: border-box;
    width: 25%;
    height: 100vh;
    padding: .5rem;
    overflow-x: hidden;
    border-right: 1px solid $black;
    position: sticky;
    top: 0;
    left: 0;
}
.edit-tools button {
    width: 100%;
    border: 1px solid $black;
    border-radius: .5em;
    padding: 1em 0;
    background-color: transparent;
    color: $black;
    transition: .5s;
    margin-bottom: 1em;
    &:hover {
        cursor: pointer;
        color: $white;
        background-color: $black;
        box-shadow: 0 0 .5em 1px $black;
    }
}
.edit-tools .remove-btn {
    border: 1px solid $red;
    color: $red;
    &:hover {
        background-color: $red;
    }
}
//Post document
.edit-doc {
    width: 75%;
    padding: .5rem;
}
//Styling for all editable tags
.title {
    font-size: 2rem;
    font-weight: 900;
    color: $black;
    border-bottom: 1px solid $black;
    margin-bottom: .5rem;
    &:focus {
        outline: 2px dotted $black;
    }
}
.tagline {
    margin-bottom: .5em;
    &:focus {
        outline: 2px dotted $black;
    }
}
.tag-container {
    display: flex;
    gap: 1rem;
}
.tag {
    outline: none;
    padding: .2em .5em;
    border-radius: 1em;
    border: 1px solid $darkBlue;
    &:focus {
        outline: 2px dotted $black;
    }
}
.tags-edit {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.delete-icon {
    border: 1px solid $red;
    padding: .2em;
    color: $red;
    border-radius: 1em;
    transition: .2s;
    &:hover {
        background-color: $red;
        color: $white;
        box-shadow: 0 0 .2em 1px $black;
        cursor: pointer;
    }
}
.note {
    font-size: .8em;
    font-style: italic;
    font-weight: 200;
}